* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title {
  font-family: Ubisoft Sans Bold, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 43px;
  letter-spacing: 0.3px;
  text-transform: none;
  text-align: center;
  color: #ab9b6e;
  text-align: center;
}

.text {
  font-family: Ubisoft Sans, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.3px;
  text-transform: none;
  color: black;
  text-align: left;
}

nav {
  background-color: #2a2b2f;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  max-width: 200px;
  margin: 15px auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 400px;
}

.menu__item-link {
  font-family: Ubisoft Sans Bold, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ab9b6e;
}

.burger {
  display: none;
  cursor: pointer;
}

.main__wrapper {
  max-width: 100vw;
  min-height: calc(100vh - 128.5px);
  background: url(../img/ac__epic-world.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__wrapper {
  max-width: 100vw;
  max-height: 100vh;
  background: url(../img/ac__choose-your-fate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.about__items {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  border: 3px solid #ab9b6e;
}

.about__text {
  margin: 20px 0;
}

.about__iframe {
  min-width: 500px;
  min-height: 250px;
}

.explore__wrapper {
  max-width: 100vw;
  max-height: 100vh;
  background: url(../img/ac__playstyle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  background-attachment: fixed;
}

.choose__wrapper {
  max-width: 100vw;
  max-height: 100vh;
  background: url(../img/ac__choose-your-personge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.battles__wrapper {
  max-width: 100vw;
  max-height: 100vh;
  background: url(../img/ac__epic-battles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

footer {
  background: #000;
}

.footer__wrapper {
  max-height: 100%;
  background: url(../img/ac__bg-dark-red.jpg);
  background-size: cover;
  background-position: center center;
  opacity: 0.9;
}

.footer {
  max-width: 1240px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__info-text {
  padding: 20px 0;
}

.footer__title {
  font-family: Ubisoft Sans Bold, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 43px;
  letter-spacing: 0.3px;
  text-transform: none;
  text-align: center;
  padding: 20px 0px;
  color: #ab9b6e;
  text-align: center;
}

.footer__text {
  font-family: Ubisoft Sans, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1.2px;
  text-transform: none;
  padding: 20px 50px;
  color: #ab9b6e;
  text-align: center;
}

.answer,
.question {
  font-family: Ubisoft Sans, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-transform: none;
  padding-right: 15px;
  color: #fff;
  text-align: left;
}

.question {
  color: #ab9b6e;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__subtitle:nth-child(2n) {
  margin: 20px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.link {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.link:hover {
  -webkit-box-shadow: 0px 0px 20px #ab9b6e;
          box-shadow: 0px 0px 20px #ab9b6e;
}

.item__link {
  width: 100px;
  height: 100px;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  border: 2px solid #ab9b6e;
}

.end {
  text-align: center;
  font-size: 14px;
  padding: 10px;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .about__iframe {
    min-width: 600px;
    min-height: 300px;
  }
}

@media screen and (max-width: 991.98px) {
  .menu {
    position: fixed;
    background: #2a2b2f;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 22;
    -webkit-animation: fade 0.3s linear;
            animation: fade 0.3s linear;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 99;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: #fff;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ab9b6e;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #ab9b6e;
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu__item {
    margin-top: 15px;
  }

  .menu__item-link {
    color: white;
  }

  .menu__item-link:hover {
    color: #ab9b6e;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
    padding: 10px;
  }

  .title {
    font-size: 20px;
    line-height: 20px;
  }

  .text {
    font-size: 14px;
    line-height: 16px;
  }

  .logo__img {
    max-width: 120px;
    margin: 0px auto;
  }

  .main__wrapper {
    min-height: 100vh;
  }

  .about__wrapper {
    min-height: 100vh;
  }

  .about__item {
    padding: 60px 20px;
  }

  .about__iframe {
    min-width: 350px;
    min-height: 200px;
  }

  .explore__wrapper {
    min-height: 100vh;
  }

  .choose__wrapper {
    min-height: 100vh;
  }

  .battles__wrapper {
    min-height: 100vh;
  }

  .footer__text {
    padding: 20px;
  }

  .answer,
  .question {
    font-size: 14px;
    line-height: 18px;
  }

  .item__link {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .about__item {
    padding: 60px 10px;
  }

  .about__iframe {
    min-width: 120px;
    min-height: 181px;
  }

  .footer__items {
    display: block;
  }

  .footer__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}